// app global css in SCSS form

.home-head {
  position: absolute;
  top: 20%;
  left: 8%;
  right: 30%;
  bottom: 30;
  margin: auto;
}

.home-body {
  position: absolute;
  top: 134%;
  left: 8%;
  right: 30%;
  bottom: 30;
  margin: auto;
}

.profile-head {
  position: absolute;
  top: 4%;
  left: 15%;
  right: 15%;
  bottom: 30;
  margin: auto;
}

.profile-body {
  position: absolute;
  top: 28%;
  left: 15%;
  right: 15%;
  bottom: 30;
  margin: auto;
}

.contacts-head {
  position: absolute;
  top: 5%;
  left: 20%;
  right: 20%;
  bottom: 30;
  margin: auto;
}

.contacts-body {
  position: absolute;
  top: 28%;
  left: 10%;
  right: 10%;
  bottom: 30;
  margin: auto;
}

.home-footer {
  position: absolute;
}
